body {
    --black: #202020;
    --red: #FF0000;
    --darkgrey: #2C2C2C;

    font-family: 'Audiowide', cursive, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: grid;
    grid-template-rows: 1.5fr 350px 12fr;
    grid-template-columns: 27fr 9fr;
    width: 50vw;
    min-width: 1060px;
    height: 100vh;
}

.navbar {
    grid-row: 1/2;
    grid-column: 1/3;
    display: flex;
    align-items: flex-end;
    padding: 20px 20px 20px 20px;
    justify-content: space-between;
    border-bottom: 3px solid var(--red);
}

.logo {
    font-size: 3rem;
}

.logo>img {
    width: 80px;
}

.logOut {
    width: 120px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--red);
    border-radius: 5px;
    border: 3px solid var(--red);
    background-color: var(--black);
    transition: 0.3s;
    display: none;
}

.logOut:hover {
    background-color: var(--red);
    color: var(--black);
}

.searchBar {
    font-size: 1.8rem;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#searchData {
    position: absolute;
    color: var(--darkgrey);
    background-color: white;
    padding: 10px;
    z-index: 1000;
    min-width: 200px;
    border-radius: 20px;
    top:200px;
    left: 1080px;
    width: 600px;
    display: none;
}
.searchOptions {
    display: flex;
}

.searchOptions:hover {
    background-color: #dadada;
}

.searchOptions :first-child {
    width: 80px;
    height: 100px;
    margin-right: 10px;
}

.searchOptions :first-child >img {
    width: 80px;
    height: 90px;
    object-fit: cover;
}

.searchOptions :last-child {
    width: 100%;
}

.searchOptions>div {
 border-top: 1px solid var(--darkgrey);
}

.searchOptions :last-child :first-child{
    width: 100%;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    height: 60%;
}

.searchOptions :last-child :last-child{
    width: 100%;
    margin-top: 0px;
    font-size: 1rem;
    height: 40%;
}

.random {
    display: inline;
}

.random>img {
    position: relative;
    top: 4px;
    width: 30px;
}

#searchTitle {
    width: 25vw;
    min-width: 180px;
    height: 45px;
    border-radius: 30px;
    padding: 0px 50px;
    font-size: 2rem;
    font-family: 'Audiowide', cursive;
    color: #202020;
    opacity: 1;
    border: 6px solid rgb(255, 255, 255);
}

.recommended {
    grid-row: 2/3;
    grid-column: 1/2;
}

.watchList {
    grid-row: 3/4;
}

.recommended {
    padding: 20px;
    display: flex;
}

.recommended>img {
    height: 100%;
    width: auto;
    max-width: 40%;
    object-fit: cover;
}

.description {
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('./images/demon-slayer.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #202020;
    width: 100%;
    padding: 30px;
    overflow-y: scroll;
}

.description > :first-child {
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.description > :nth-child(2) {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.description > :last-child {
    font-size: 1rem;
}

.profile {
    padding: 20px;
}

.profileContents {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: var(--darkgrey);
    /* aspect-ratio: 1/1; */
    max-height: 100%;
}

.profileContents>img {
    border-radius: 50%;
    width: 70%;
}

.profileContents>:last-child {
    width: 70%;
    font-size: 1.5rem;
    text-align: center;
}

.watchList {
    padding: 20px;
}

.tabs {
    display: flex;
    gap: 10px;
    font-size: 1.1rem;
    width: 100%;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
}

.tabs div {
    background-color: #2C2C2C;
    padding: 16px 16px;
    text-align: center;
}

.tabs :first-child {
    font-size: 1.8rem;
    padding: 10px 10px;
    background-color: gray;
}

.watchListThumbNail{
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    grid-template-rows: repeat(auto-fill, 300px);
    gap: 20px;
}

.watchListThumbNail>div{
    width: 225px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: relative;  

}

.watchListThumbNail>div:before {
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    top:0;left:0;right:0;
    background-color:rgba(0,0,0,0);
}

.watchListThumbNail>div:hover::before {
    background-color:rgba(0,0,0,0.5);
}

.watchListThumbNail>div image {
    display:block;
}

.watchListThumbNail>div .view {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity:0;
}

.watchListThumbNail>div .read {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity:0;
}

.watchListThumbNail>div .delete {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity:0;
}

.watchListThumbNail>div:hover button {   
    opacity: 1;
}

.watchListThumbNail>div>button {
    font-family: "Audiowide";
    width: 135px;
    height: 52.5px;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: white;
    color: #360000;
    transition-duration: 0.3s;
}

.watchListThumbNail>div>button:hover {
    color: var(--red);
    background-color: #360000;
}

.watchListThumbNail>div>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hover {
    display: inline;
}

.filters {
    padding: 20px;
}

.filterPanel {
    background-color: var(--darkgrey);
    font-size: 1rem;
}

.year {
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.genre, .type{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.genre>:first-child, .type>:first-child {
    margin-bottom: 10px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 100%;
    text-align: center;
    color: var(--red);
}

.genreSelectors ,.typeSelectors {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(220px, 1fr) );
    gap: 15px;
    width: 100%;
}

input[type='checkbox'] {
    transform: scale(1.5);
    margin-left: 30px;
    margin-right: 10px;
}

input[id='Anime'], input[id='Manga']{
    margin-right: 3px;
}

select {
    width: 100px;
    height: 38px;
    font-size: 1.2rem;
}

/* label[for="yearSelect"] {
    font-size: 1.8rem;
} */

.year > button {
    font-size: 1.4rem;
    background-color: white;
    color: #360000;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    transition: 0.3s;
}

.year > button:hover {
    background-color: #360000 ;
    color: white;
}

.label {
    color: white;
}