<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>information page</title>
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link href="../../static/css/base.css" rel="stylesheet" />
</head>

<body>
    <div class="content">
        <div class="navbar">
            <div class="logo">
                <img src="../../static/images/aniLogo.png" alt="ANIMAHUB Logo">
                ANIMAHUB
            </div>
            <div class="searchBar">
                <input type="text" name="searchTitle" id="searchTitle" placeholder="Search">
                <!-- <div class="random">
                    <img src="./images/random.png" alt="Random icon">
                    RANDOM
                </div> -->
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>
</body>

</html>